* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

body {
    background-color: #3498db;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main {
    width: 600px;
    height: 300px;
}

#search {
    width: 100%;
    font-size: 25px;
    padding: 10px;
    display: block;
}

#search:focus {
    outline: none;
}

#weatherBox {
    display: flex;
    margin-top: 50px;
}

.imgBox {
    width: 30%;
    text-align: center;
}

.dataBox {
    color: white;
    flex-grow: 1;
}

.dataBox h1 {
    font-size: 70px;
}

.dataBox h4 {
    font-size: 35px;
}

.loader {
    text-align: center;
    animation: loader 1s alternate infinite linear;
}

@keyframes loader {
    from {
        opacity: 1;
        transform: translateX(-100px);
    }

    to {
        opacity: 0;
        transform: translateX(100px);
    }
}