@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav {
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 2px grey;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background: white;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    border-radius: 9px;
    box-sizing: content-box;
    width: 343px;
    height: 24px;
    border: 1px solid #D0D5DD;
    padding: 12px 18px;
}

.search-box input {
    border: none;
    outline: none;
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.container {
    width: 1400px;
    margin: 30px auto;
}

.banner {
    display: flex;
}

.banner-text {
    width: 50%;
}

.banner-text h1 {
    width: 547px;
    color: #101828;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.6px;
    margin-top: 40px;
}

.banner-img {
    width: 700px;
    height: 667px;
}



.banner-btn {
    position: relative;
    width: 149px;
    height: 40px;
    border-radius: 40px;
    background: #F9F5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6B46FF;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text p {
    width: 509px;
    color: #475467;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}